/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  max-width: 100%;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.75;
  font-family: "Sawarabi Gothic";
}

.p-header ul {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .p-header ul {
    display: flex;
    position: static;
  }
}
.p-header li {
  background-color: #baebd6;
  border: 1px solid #3CB371;
  transition-property: background-color;
  transition-duration: 0.8s;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .p-header li {
    width: 50%;
    border-radius: 6px;
    margin-top: 0;
    text-align: center;
  }
}
.p-header li:hover {
  background-color: #3CB371;
  color: #baebd6;
}
.p-header li p {
  padding: 30px 20px;
}
@media (max-width: 768px) {
  .p-header li p {
    padding: 0;
  }
}
.p-header li a {
  width: 100%;
  height: 100%;
}

.p-main-visual {
  height: 766px;
  background-image: url("../../../img/bg-mainvisual01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 768px) {
  .p-main-visual {
    height: auto;
  }
}
.p-main-visual::before {
  content: "";
  background: inherit;
  filter: blur(5px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.p-main-visual__container {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .p-main-visual__container {
    flex-direction: column;
    padding-top: 0;
  }
}
.p-main-visual__container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 500px;
  width: 100%;
  height: 650px;
  margin-top: 20px;
  border-radius: 50px 0 50px 0;
  background-color: #53bcd1;
}
@media (max-width: 768px) {
  .p-main-visual__container__inner {
    height: 360px;
    gap: 16px;
  }
}
.p-main-visual__container__inner h1 {
  padding-top: 42px;
  color: #ffffff;
  font-size: 48px;
  white-space: nowrap;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .p-main-visual__container__inner h1 {
    padding-top: 20px;
    font-size: 26px;
  }
}
.p-main-visual__container__inner p {
  padding-left: 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .p-main-visual__container__inner p {
    font-size: 12px;
  }
}
.p-main-visual__container__inner a {
  width: 256px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  border: 3px solid #fce8a7;
  border-radius: 40px;
  color: #fce8a7;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  transition-property: background;
  transition-duration: 0.8s;
}
@media (max-width: 768px) {
  .p-main-visual__container__inner a {
    width: 70%;
    height: 72px;
    line-height: 72px;
  }
}
.p-main-visual__container__inner a:hover {
  background-color: #fce8a7;
  color: #53bcd1;
}
.p-main-visual__container__slide {
  width: 700px;
  height: 500px;
  z-index: 2;
  position: relative;
}
@media (max-width: 768px) {
  .p-main-visual__container__slide {
    width: 400px;
    height: 300px;
  }
}
.p-main-visual__container__slide img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  opacity: 0;
  -webkit-animation: slideshow 40s linear infinite;
          animation: slideshow 40s linear infinite;
}
.p-main-visual__container__slide img:nth-child(2) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.p-main-visual__container__slide img:nth-child(3) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}
.p-main-visual__container__slide img:nth-child(4) {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
.p-main-visual__container__slide img:last-child {
  -webkit-animation-delay: 32s;
          animation-delay: 32s;
}
@-webkit-keyframes slideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.p-quiz-scroll {
  margin-top: 40px;
  background-color: #fce8a7;
  text-align: center;
  border-radius: 32px;
}
.p-quiz-scroll h2 {
  display: inline-block;
  font-size: 42px;
  margin-top: 40px;
  padding: 0 20px;
  background-color: #ffffff;
  border-left: 10px solid rgba(83, 188, 209, 0.7);
}
@media (max-width: 768px) {
  .p-quiz-scroll h2 {
    font-size: 24px;
  }
}
.p-quiz-scroll__item-list {
  display: flex;
  gap: 40px;
  padding: 50px 30px 10px;
  overflow-x: scroll;
}
@media (max-width: 768px) {
  .p-quiz-scroll__item-list {
    padding-top: 30px;
  }
}
.p-quiz-scroll__item-list li {
  flex-shrink: 0;
  width: 370px;
  border-radius: 30px;
  background-color: #baebd6;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .p-quiz-scroll__item-list li {
    width: 280px;
    padding: 20px 0;
  }
}
.p-quiz-scroll__item-list img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .p-quiz-scroll__item-list img {
    width: 100px;
    height: 100px;
  }
}
.p-quiz-scroll__item-list dl {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
  padding: 0 75px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .p-quiz-scroll__item-list dl {
    font-size: 18px;
    margin-top: 25px;
    padding: 0 50px;
  }
}
.p-quiz-scroll__item-list dt {
  font-weight: 400;
  border-left: 10px solid #f4c2c2;
}
.p-quiz-scroll__item-list dd {
  border-left: 10px solid #f4c2c2;
}
.p-quiz-scroll__choice-wrapper {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
  height: 120px;
}
.p-quiz-scroll__choice-wrapper a {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #53bcd1;
  box-shadow: 0 5px 0 #369ada;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.p-quiz-scroll__choice-wrapper a:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.p-quiz-scroll__button {
  display: inline-block;
  margin: 40px 0 30px;
  padding: 18px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 50px;
  border: 4px solid #53bcd1;
  color: #53bcd1;
  transition-property: background;
  transition-duration: 0.8s;
}
@media (max-width: 768px) {
  .p-quiz-scroll__button {
    margin: 16px 0;
    font-size: 16px;
  }
}
.p-quiz-scroll__button:hover {
  background-color: #53bcd1;
  color: #fce8a7;
}

.p-creators {
  margin-top: 42px;
  margin-bottom: 100px;
  text-align: center;
}
.p-creators h2 {
  font-size: 42px;
}
@media (max-width: 768px) {
  .p-creators h2 {
    font-size: 24px;
  }
}
.p-creators__item-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .p-creators__item-list {
    flex-wrap: wrap;
  }
}
.p-creators__item-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 270px;
  transition-duration: 1.2s;
}
.p-creators__item-list li:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .p-creators__item-list li {
    padding: 15px 10px;
  }
}
.p-creators__item-list img {
  width: 100%;
  height: auto;
  border-radius: 100px;
}
.p-creators__item-list dl {
  margin-top: 20px;
}
.p-creators__item-list dt {
  font-size: 24px;
}
.p-creators__item-list dd {
  margin-top: 24px;
  padding: 0 20px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .p-creators__item-list dd {
    margin-top: 16px;
  }
}

.p-footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #baebd6;
  font-size: 24px;
}
@media (max-width: 768px) {
  .p-footer {
    height: 80px;
    line-height: 80px;
  }
}

.p-people {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}
.p-people__title {
  margin-top: 20px;
  background-color: #fce8a7;
  text-align: center;
  font-size: 42px;
}
@media (max-width: 768px) {
  .p-people__title {
    font-size: 32px;
  }
}
.p-people__item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  -moz-column-gap: 95px;
       column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
  text-align: center;
  width: 1200px;
  max-width: 90%;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .p-people__item-list {
    row-gap: 20px;
  }
}
.p-people__item-list li {
  width: 280px;
  border-radius: 30px;
  background-color: #baebd6;
  padding: 30px 0;
}
.p-people__item-list img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.p-people__item-list dl {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 25px;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.p-people__item-list dt {
  font-weight: 400;
  border-left: 10px solid #f4c2c2;
}
.p-people__item-list dd {
  border-left: 10px solid #f4c2c2;
}

.p-quiz-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #f4c2c2;
  font-size: 36px;
  z-index: 10;
  border: 1px solid black;
}
.p-quiz-modal__title {
  padding-top: 30px;
  padding-left: 40px;
  color: #ffffff;
}
.p-quiz-modal__inner {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 60px;
}
.p-quiz-modal__options {
  display: flex;
  flex-direction: column;
}
.p-quiz-modal__options button {
  padding: 0 20px;
  margin-top: 30px;
  background-color: #ffffff;
}
.p-quiz-modal__options button:first-child {
  margin-top: 0;
}
.p-quiz-modal__determine {
  max-width: 300px;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 30px;
}
.p-quiz-modal__determine__text {
  padding: 20px 25px 0;
  font-size: 24px;
}
.p-quiz-modal__determine__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  font-size: 24px;
}
.p-quiz-modal__determine__buttons__yes {
  padding: 15px;
  background-color: #f2acb9;
}
.p-quiz-modal__determine__buttons__no {
  padding: 15px;
  background-color: #7a93b2;
}

.p-invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80vh;
  padding: 30px;
  background-color: rgba(83, 188, 209, 0.7);
  border-radius: 30px;
}
.p-invitation__title {
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}
.p-invitation__text {
  font-size: 34px;
}
.p-invitation__button {
  height: 60px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  background-color: #ffffff;
  transition: 0.3s ease 0s;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.p-invitation__button:hover {
  color: #ffffff;
  background-color: black;
}

.l-main {
  padding: 15px;
  background-color: rgba(255, 229, 203, 0.45);
  width: 100%;
  min-height: calc(100vh - 80px);
}
@media (min-width: 520px) {
  .l-main {
    padding: 30px;
    min-height: calc(100vh - 100px);
  }
}

.l-main2 {
  padding: 0 15px;
  width: 100%;
  position: relative;
  min-height: calc(100vh - 80px);
}
@media (min-width: 520px) {
  .l-main2 {
    min-height: calc(100vh - 100px);
  }
}

body {
  background-color: rgba(255, 229, 203, 0.45);
}

.quiz-main {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiz-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5cb;
  padding: 50px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.q-number {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #947f74;
}

.q-passage {
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #947f74;
  padding: 10px;
  text-align: center;
}

.quiz-selection {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: stretch;
}

.buttons {
  line-height: 10px;
}

.selection-number {
  background-color: #f2acb9;
  margin-top: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  color: #947f74;
  display: flex;
  align-items: center;
  padding: 15px;
}

.selection-list {
  background-color: #d9d9d9;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  color: #947f74;
  padding: 15px;
  width: 200px;
  transition: 0.2s ease 0s;
}

.li {
  list-style-type: none;
}

.next-page {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  width: 150px;
  margin: 20px;
  text-align: center;
}

.bottom-img {
  width: 150px;
}

.quiz-img {
  position: absolute;
  display: block;
  width: 20%;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 520px) {
  .quiz-img {
    width: 5%;
  }
}

.correct-choice {
  background-color: #ffdcc9;
}

.wrong-choice {
  background-color: #d9d9d9;
}

.p-back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  border-color: transparent;
  background-color: #d9d9d9;
  color: black;
  box-shadow: 2px 2px 2px black;
}
.p-back-top:hover {
  box-shadow: none;
  border: 3px solid black;
}

.p-ranking {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}
.p-ranking__header {
  border-bottom: solid 1px #d9d9d9;
  background-color: #53bcd1;
  cursor: pointer;
}
.p-ranking__header__item {
  text-align: center;
  padding: 15px 15px;
}
.p-ranking__row:nth-child(odd) {
  background-color: #53bcd1;
}
.p-ranking__row:nth-child(even) {
  background-color: #fce8a7;
}
.p-ranking__row:hover {
  border: solid 3px black;
}
.p-ranking__row__item {
  padding: 15px 15px;
  line-height: 28px;
}
.p-ranking__row__item--rank {
  font-size: 24px;
  font-weight: 700;
}
.p-ranking__row__item--level {
  font-size: 28px;
  font-weight: 700;
  color: gray;
}

.p-quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80vh;
  padding: 30px;
  background-color: rgba(83, 188, 209, 0.7);
  border-radius: 30px;
}
.p-quiz-result__title {
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}
.p-quiz-result__text {
  font-size: 24px;
}
@media (min-width: 520px) {
  .p-quiz-result__text {
    font-size: 34px;
  }
}

.p-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (min-width: 520px) {
  .p-invite {
    align-items: left;
  }
}
.p-invite__title {
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.p-invite__title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  display: inline-block;
  height: calc(100% + 20px);
  width: 10px;
  background-color: #fce8a7;
  position: inherit;
}
.p-invite__username {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 520px) {
  .p-invite__username {
    flex-direction: row;
  }
}
.p-invite__input {
  padding: 5px;
  background-color: #d9d9d9;
}
.p-invite__button {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  background-color: #ffffff;
  transition: 0.3s ease 0s;
  display: flex;
  align-items: center;
}
.p-invite__button:hover {
  color: #ffffff;
  background-color: black;
}

.p-match {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  font-size: 16px;
}
.p-match__checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.p-match__checkbox__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-match__button {
  color: #ffffff;
  background-color: #53bcd1;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  width: 200px;
  margin: 0 auto;
}
.p-match__result {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.p-match__result__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.p-match__result__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 15px;
  background-color: #fce8a7;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
  line-height: 2;
}
.p-match__result__button {
  color: black;
  background-color: #f4c2c2;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 20px;
}

.u-hidden {
  display: none;
}

.u-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}/*# sourceMappingURL=common.css.map */