@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

// todo(takumi) p-main作る
.l-main {
  padding: 30px;
  background-color: $color-skin-color;
  width: 100%;
  min-height: calc(100vh - 80px);

  @include pc {
    min-height: calc(100vh - 100px);
  }
}

.l-main2 {
  padding: 0 15px;
  width: 100%;
}
