@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-main-visual {
  height: 766px;
  background-image: url(../../../img/bg-mainvisual01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @include sp {
    height: auto;
  }

  &::before {
    content: "";
    background: inherit;
    filter: blur(5px);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &__container {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    overflow: hidden;

    @include sp {
      flex-direction: column;
      padding-top: 0;
    }
  

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      max-width: 500px;
      width: 100%;
      height: 650px;
      margin-top: 20px;
      border-radius: 50px 0  50px 0;
      background-color: $color-light-blue02;

      @include sp {
        height: 360px;
        gap: 16px;
      }

      & h1 {
        padding-top: 42px;
        color: $color-white;
        font-size: 48px;
        white-space: nowrap;
        line-height: 1.4;

        @include sp {
          padding-top: 20px;
          font-size: 26px;
        }
      }

      & p {
        padding-left: 16px;
        color: $color-white;
        font-size: 18px;
        font-weight: 500;

        @include sp {
          font-size: 12px;
        }
      }

      & a {
        width: 256px;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        line-height: 80px;
        border: 3px solid $color-yellow;
        border-radius: 40px;
        color: $color-yellow;
        background-color: transparent;
        font-size: 18px;
        font-weight: 600;
        transition-property: background;
        transition-duration: .8s;

        @include sp {
          width: 70%;
          height: 72px;
          line-height: 72px;
        }

        &:hover {
          background-color: $color-yellow;
          color: $color-light-blue02;
        }
      }
    }

    &__slide {
      width: 700px;
      height: 500px;
      // margin-left: 125px;
      z-index: 2;
      position: relative;

      @include sp {
        width: 400px;
        height: 300px;
      }

      & img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        opacity: 0;
        animation: slideshow 40s linear infinite;

        @include sp {
        }

        &:nth-child(2) {
          animation-delay: 8s;
        }

        &:nth-child(3) {
          animation-delay: 16s;
        }

        &:nth-child(4) {
          animation-delay: 24s;
        }

        &:last-child {
          animation-delay: 32s;
        }
      }

      @keyframes slideshow {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 1;
        }
        15% {
          opacity: 1;
        }
        25% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }

    // &__moving {
    //   font-size: 80px;
    //   color:$color-yellow;
    //   position: absolute;
    //   bottom: -30px;
    //   z-index: 1;
    //   line-height: 1;
    //   white-space: nowrap;
    //   animation: scrollSample01 36s linear infinite;
    // }

    // @keyframes scrollSample01 {
    //   0% {
    //     transform: translateX(-100%);
    //   }
    //   100% {
    //     transform: translateX(100%);
    //   }
    // }
  }
}
