@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-people {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;

  &__title {
    margin-top: 20px;
    background-color: $color-yellow;
    text-align: center;
    font-size: 42px;

    @include sp {
      font-size: 32px;
    }
  }

  &__item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;
    text-align: center;
    width: 1200px;
    max-width: 90%;
    margin: 0px auto;

    @include sp {
      row-gap: 20px;
    }

    & li {
      width: 280px;
      border-radius: 30px;
      background-color: $color-light-green;
      padding: 30px 0;
    }

    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    & dl {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 25px;
      padding: 0 50px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }

    & dt {
      font-weight: 400;
      border-left: 10px solid $color-pink;
    }

    & dd {
      border-left: 10px solid $color-pink;
    }
  }
}
