@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-people {
  &__title {
    margin-top: 20px;
    background-color: $color-yellow;
    text-align: center;
    font-size: 42px;

    @include sp {
      font-size: 32px;
    }
  }

  &__item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;
    text-align: center;
    width: 1200px;
    max-width: 90%;
    margin: 75px auto 60px;

    & li {
      width: 280px;
      height: 350px;
      border-radius: 30px;
      background-color: $color-light-green;
    }

    & img {
      width: 100px;
      height: 100px;
      margin-top: 30px;
      border-radius: 50%;
    }

    & dl {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 25px;
      padding: 0 50px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }

    & dt {
      font-weight: 400;
      border-left: 10px solid $color-pink;
    }

    & dd {
      border-left: 10px solid $color-pink;
    }

    & button {
      margin-top: 40px;
      padding: 15px 30px;
      border-radius: 30px;
      background-color: $color-light-blue02;
      box-shadow: 0 5px 0 #369ada;
      font-size: 16px;
      font-weight: bold;
      color: $color-white;

      &:hover {
        box-shadow: none;
        transform: translateY(5px);
      }
    }
  }
}
