@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-quiz-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: $color-pink;
  font-size: 36px;
  z-index: 10;
  border: 1px solid black;

  &__title {
    padding-top: 30px;
    padding-left: 40px;
    color: $color-white;
  }
  &__inner {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;
  }
  &__options {
    display: flex;
    flex-direction: column;

    button {
      padding: 0 20px;
      margin-top: 30px;
      background-color: $color-white;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__determine {
    max-width: 300px;
    width: 100%;
    height: 250px;
    background-color: $color-white;
    border-radius: 30px;

    &__text {
      padding: 20px 25px 0;
      font-size: 24px;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 20px;
      font-size: 24px;

      &__yes {
        padding: 15px;
        background-color: $color-dark-pink;
      }

      &__no {
        padding: 15px;
        background-color: $color-dark-blue;
      }
    }
  }
}
