@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-quiz-scroll {
  margin-top: 40px;
  background-color: $color-yellow;
  text-align: center;
  border-radius: 32px;

  & h2 {
    display: inline-block;
    font-size: 42px;
    margin-top: 40px;
    padding: 0 20px;
    background-color: $color-white;
    border-left: 10px solid $color-light-blue;

    @include sp {
      font-size: 24px;
    }
  }

  &__item-list {
    display: flex;
    gap: 40px;
    padding: 50px 30px 10px;
    overflow-x: scroll;

    @include sp {
      padding-top: 30px;
    }

    & li {
      flex-shrink: 0;
      width: 370px;
      border-radius: 30px;
      background-color: $color-light-green;
      padding: 30px 0;

      @include sp {
        width: 280px;
        padding: 20px 0;
      }
    }

    & img {
      width: 180px;
      height: 180px;
      border-radius: 50%;

      @include sp {
        width: 100px;
        height: 100px;
      }
    }

    & dl {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 30px;
      padding: 0 75px;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;

      @include sp {
        font-size: 18px;
        margin-top: 25px;
        padding: 0 50px;
      }
    }

    & dt {
      font-weight: 400;
      border-left: 10px solid $color-pink;
    }

    & dd {
      border-left: 10px solid $color-pink;
    }
  }

  &__choice-wrapper {
    padding: 15px 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    height: 120px;

    & a {
      padding: 10px 30px;
      border-radius: 30px;
      background-color: $color-light-blue02;
      box-shadow: 0 5px 0 #369ada;
      font-size: 16px;
      font-weight: bold;
      color: $color-white;

      &:hover {
        box-shadow: none;
        transform: translateY(5px);
      }
    }
  }

  &__button {
    display: inline-block;
    margin: 40px 0 30px;
    padding: 18px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 50px;
    border: 4px solid $color-light-blue02;
    color: $color-light-blue02;
    transition-property: background;
    transition-duration: 0.8s;

    @include sp {
      margin: 16px 0;
      font-size: 16px;
    }

    &:hover {
      background-color: $color-light-blue02;
      color: $color-yellow;
    }
  }
}
