@use "../../foundation/variables" as *;

.p-quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80vh;
  padding: 30px;
  background-color: $color-light-blue;
  border-radius: 30px;

  &__title {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: $color-white;
  }

  &__text {
    font-size: 34px;
  }
}
