@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-ranking {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;

  &__header {
    border-bottom: solid 1px $color-gray;
    background-color: $color-light-blue02;
    cursor: pointer;

    &__item {
      text-align: center;
      padding: 15px 15px;
    }
  }

  &__row {
    &:nth-child(odd) {
      background-color: $color-light-blue02;
    }
    &:nth-child(even) {
      background-color: $color-yellow;
    }
    &:hover {
      border: solid 3px black;
    }
    &__item {
      padding: 15px 15px;
      line-height: 28px;
      &--rank {
        font-size: 24px;
        font-weight: 700;
      }

      &--level {
        font-size: 28px;
        font-weight: 700;
        color: gray;
      }
    }
  }
}
